/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

.block-menu-menu-sncc-footer ul.menu li
{
	list-style: none !important;
	padding-left: 10px;
	float: left; 
	border-left: 1px solid #0000aa;
	padding-right:10px;
	color:#0000aa;
	line-height:10px;
	color: blue;
	padding-bottom: 2px;

}

li.leaf : first-child
{
	font-weight: bold;
}
li.leaf:nth-child(2) a {
font-weight: bold;
}

.block-menu-menu-sncc-footer ul.menu li.first {
	border-left:0px;
	font-weight: bold;
}
.block-menu-menu-sncc-footer ul.menu li a{
	color: #0000aa;
}
#snippet-footer_copyright-13{
	color:blue;
}
#snippet-sidebar_right-26{
	border-left: 1px solid black;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 5px;
	color: blue;
	
	font-weight: bold;
}
.header {
	
	background-color: #A1B980;
	color: #ffffff;
	padding-left: 13px;
	line-height: 40px;
	padding-top: 0px;
	font-size: 13px;
	width: 367px;
}
.site-slogan {
color: #7CA7D2;
font-size: 28px;
padding-top: 60px;
font-family: serif;
}
#zone-branding-wrapper {
height: 110px;
}


#snippet-sncc_banner_image-75
{

	width: 757px;

}
h2.pane-title
{
	color:#0000aa;
}
#region-menu
{
	background: #0000aa;
}
#zone-menu .nice-menu {
  width: 100%;
}

#mini-panel-top_sncc .panels-flexible-column-last 
{
	padding-left: 2px;
	padding-right: 10px;
	padding-top: 14px;
	padding-bottom: 0px;
	
	color: #000000;
	margin-top: -520px;
	float: right;
}
#zone-menu .nice-menu 
{
  width: 100%;
}

#zone-menu,#region-menu 
{
  width: 100%;
  padding-left: 2px;
  background: #004A8D;
  margin-left:0px;
  margin-right:0px;
}
#zone-menu .nice-menu li
{
  float: left;
  text-align: center;
  padding-left:50px;

  background:#004A8D;
}

#zone-menu .nice-menu li a.active{
  color: #7CA7D2;

}
#zone-menu .nice-menu li a
{
  color: #fff;
  font-weight: bold;
    text-decoration: none;
  font-size:15px;
  text-align: center;
  padding-right:40px;
}

ul.nice-menu ul 
{
  top: 2em;
  margin: 1px;
  border-top: 1px transparent;
  border-left:10px;
  height:5px;
  width: 100%;
}
#zone-menu ul.nice-menu ul li 
{
  width: 100%;
  padding-left: 10px;
	  border-top: 2px solid #ccc;
}
#nice-menu-1 
{
	padding-left: 91px;
}


.panel-pane.pane-node-title.title_node 
{
	color: blue;
	font-weight: bold;
	font-size: 20px;
}

.views-field.views-field-body 
{
	float: left;
	margin-top: -55px;
	text-align: left;
	padding-left: 138px;
}
.views-field.views-field-title 
{
	float: left;
	margin-top: -76px;
	text-align: left;
	padding-left: 138px;
	color:#7CA7D2;
}
.field.field-name-body.field-type-text-with-summary.field-label-hidden 
{
	margin-top: 57px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: -44px;
}
div.pane-content ul.menu li 
{
	list-style: none !important;
	font-size: 15px;
	font-weight:bold;
}

.row-1.row-first 
{
	border: 1px dashed;

}
.text 
{
	background: #7CA7D2;
	padding-bottom: 5px;
	margin-bottom: 2px;
	margin-top: -4px;
	margin-left: -1px;
}
a img.media-image 
{
	padding-bottom: 10px;
}